h1 {
	font-size: $h1-font-size;
}
@include responsive_property("h1") {
	font-size: $h1-font-size;
}

h2 {
	font-size: $h1-font-size;
}
@include responsive_property("h2") {
	font-size: $h2-font-size;
}

h2 {
	font-size: $h1-font-size;
}
@include responsive_property("h2") {
	font-size: $h2-font-size;
}

h3 {
	font-size: $h3-font-size;
}
@include responsive_property("h3") {
	font-size: $h3-font-size;
}

h4 {
	font-size: $h4-font-size;
}
@include responsive_property("h4") {
	font-size: $h4-font-size;
}

h5 {
	font-size: $h5-font-size;
}
@include responsive_property("h5") {
	font-size: $h5-font-size;
}

h6 {
	font-size: $h6-font-size;
}

h1, .h1, 
h2, .h2, 
h3, .h3, 
h4, .h4, 
h5, .h5, 
h6, .h6 {
	p {
		margin-bottom: 0px;
		font-size: inherit;
		line-height: inherit;
		font-family: inherit;
		color: inherit;
	}
}

@include responsive_property("h6") {
	font-size: $h6-font-size;
}

ol, ul {
	list-style-type: none;
}

h1,h2,h3,h4,h5,h6,p input,label, table,td,tr, div {
	font-family: $font-family-serif;
}

a, input[type="submit"], button {
		font-family: $font-family-sans-serif;
}

.heading-border {
	display: block;
    padding: 0.6em 1.4em;
	background-color: rgba($grey-1, 0.7);
	border: solid 1px white;
	white-space: nowrap;
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

}

a {
	color: $grey-3;
}